body { background-color: #DDDDDD; font: 12px sans-serif; }

td, th  {
    border-width: 1px;
    border-color: #99a;
    border-style: solid;
}

table {
    margin: 4px 2px;
    background-color: #f0f0ff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #669;
    border-style: solid;
}

td, th {
    vertical-align: top;
    margin: 0px;
    padding: 2px 6px
}

td {
    text-align: left;
    background-color: white;
}

th {
    text-align: right;
    background-color: #eef;
}

.boolean, .null {
    font-style: italic;
}

.over {
    background-color: pink;
}